body {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 1em 0 0 0;
}

.curtain {
    display: none;
    position: absolute;
}

#splash-curtain {
    text-align: center;
    width: 100%;
}

#game-container {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#snap-stage {
    background-color: #509bef;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#controls-curtain {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1200;
}

#input-curtain {
    cursor: default;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}
